Package: com.hexipa.pabage
Name: HEXIPA PUBG 3.6.0
Depends: mobilesubstrate
Version: 0.2
Architecture: iphoneos-arm
Description: Channel @hehipa Dev @jailbreaked Also thanks to nasy, prze, @NUKOTUH Functions: ESP, AIM, ITEMS ESP
Maintainer: @jailbreaked
Author: Saveli
